/* This is the CSS file for the views/host.ejs page */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vw;

	overflow: hidden;
	background-color: #222;
}

#digitalMap {
	width: 100%;
	height: 100%;
}

.popupBanner {
	display: none;
	position: absolute;
	text-align: center;
	width: 100vw;
	height: 80vh;
	top: 10vh;
	border: 1px solid red;
	z-index: 10;
}
